## Deliverable 3. Create a Travel Itinerary Map.

In [65]:
# Dependencies and Setup
import pandas as pd
import requests
import os
import gmaps
import numpy as np
import random as rn
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [66]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
file_to_read = os.path.join("..", "Vacation_Search", "WeatherPy_vacation.csv")
clean_hotel_df = pd.read_csv(file_to_read)
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
clean_hotel_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Guerrero Negro,MX,54.10,clear sky,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
1,7,Beyneu,KZ,40.42,overcast clouds,45.3167,55.2000,NUR
2,8,Bluff,NZ,48.79,broken clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
3,9,Hit,IQ,56.10,scattered clouds,33.6416,42.8251,صالون زيرو
4,10,Rusera,IN,56.64,overcast clouds,25.7500,86.0333,Santosh Hotel&Santosh resturent

In [67]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [68]:
# 4a. Add a marker layer for each city to the map.
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [122]:
#I'm indecisive so I'm going to pick 4 random hotels from a random country with at least 4 hotels

# countries = []
# countries = clean_hotel_df["Country"].value_counts()
# countries
# for country in countries.index:
#     if countries[country] < 4:
#         #print(f"{country} : {countries[country]}")
#         countries.drop(country,inplace=True)
# #getting a list of eligable countries 
# if countries.size < 4:
#     print("Somehow, there are no countries with 4 or more hotels.")
# countries = countries.index.tolist()
# #assuming the traveler is american.
# if "US" in countries:
#     countries.remove("US")
# country_of_choice = rn.choice(countries)
# print(countries)

#I'm settling on France because I had french toast for breakfast
country_of_choice = "FR"
print(f"Country of choice is : {country_of_choice}")

['AU', 'JP', 'IN', 'NZ', 'MX', 'ZA', 'CL', 'FR', 'PT', 'AR', 'CN', 'ES', 'GB']
Country of choice is : FR

In [141]:
vacation_df = clean_hotel_df.loc[(clean_hotel_df['Country'] == country_of_choice)]
# I used random cities to find a layout I liked
# vacation_df = vacation_hotels_df.sample(n=4)
# #resetting index for convenience
# vacation_df.index = np.arange(1, len(vacation_df) + 1)
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
31,119,Challans,FR,50.92,overcast clouds,46.8436,-1.8749,Citotel Le Challans
50,217,Pau,FR,55.44,broken clouds,43.4167,-0.5833,Le Kitch
93,366,Tinqueux,FR,49.05,overcast clouds,49.2500,3.9833,L'Assiette Champenoise
122,470,Saint-Martin-De-Crau,FR,57.99,clear sky,43.6395,4.8127,Hotel Residence La Transhumance
123,473,Vesoul,FR,46.35,overcast clouds,47.5833,5.8333,Camping Municipal La Louvière
145,556,Sainte-Maxime,FR,59.02,scattered clouds,43.3000,6.6333,Hôtel Les Jardins De Sainte Maxime

In [147]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == "Tinqueux"]
vacation_end = vacation_df.loc[vacation_df['City'] == "Tinqueux"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Saint-Martin-De-Crau"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Pau"]
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Challans"]
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
31,119,Challans,FR,50.92,overcast clouds,46.8436,-1.8749,Citotel Le Challans

In [153]:
test = vacation_start.to_numpy()
print(test[0][5])

49.25

In [156]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy()[0][5],vacation_start.to_numpy()[0][6])
end = (vacation_end.to_numpy()[0][5],vacation_end.to_numpy()[0][6])
stop1 = (vacation_stop1.to_numpy()[0][5],vacation_stop1.to_numpy()[0][6])
stop2 = (vacation_stop2.to_numpy()[0][5],vacation_stop2.to_numpy()[0][6])
stop3 = (vacation_stop3.to_numpy()[0][5],vacation_stop3.to_numpy()[0][6])

In [161]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation = gmaps.directions_layer(
        start, start, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')
fig.add_layer(vacation)
fig

Figure(layout=FigureLayout(height='420px'))

In [158]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,
                          vacation_stop1,
                          vacation_stop2,
                          vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,366,Tinqueux,FR,49.05,overcast clouds,49.2500,3.9833,L'Assiette Champenoise
1,470,Saint-Martin-De-Crau,FR,57.99,clear sky,43.6395,4.8127,Hotel Residence La Transhumance
2,217,Pau,FR,55.44,broken clouds,43.4167,-0.5833,Le Kitch
3,119,Challans,FR,50.92,overcast clouds,46.8436,-1.8749,Citotel Le Challans

In [159]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [162]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))